body{
  /*font-family:"News 706", sans-serif;*/
  font-size:14px;
}
.navbar{
  background-color: black;
  min-height: 30px;
}
.navbar a {
  color: white;
}
.navbar a:hover{
  color: #ff5f5f;
}
.ga-logo{
  max-width: 25px;
  height: auto;
}

/* PROFILE */
.sidebar,
.innerbar {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 5px;
}

.profile-image {
  max-width: 100px;
  height: auto;
  border: 5px solid black;
  border-radius: 5px;
}

.fill {
  height: 100%;
}

.sub-heading{
  margin-left: 15px;
  margin-bottom: 10px;
}
